
.selector-for-some-widget {
    box-sizing: content-box;
}

.div1 {
    padding-bottom: 20px;
}
.div2 {
    padding-top: 20px;
}

.Same{
    display:inline-block;
}
/*.neumorphic-button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), -3px -3px 10px rgba(255, 255, 255, 0.6);
    color: black;
    background-color: #e4e5ed;
    text-decoration: none;
}*/
.neumorphic-button:hover {
    /**background: linear-gradient(145deg, #cdced5, #f4f5fe);**/
    box-shadow: inset 5px 5px 15px #cdced5,
    inset -5px -5px 15px #fbfcff;
    -5px -5px 10px #ffffff;
    color: black;
    background-color: #e4e5ed;
    text-decoration: none;
}


.neumorphic-button:active {
    color: black;
    background-color: #ccc;
    text-decoration: none;
    box-shadow: inset 15px 15px 30px #b6b7be,
    inset -15px -15px 30px #ffffff;
}
.neumorphic-button {
    /**background: linear-gradient(145deg, #f4f5fe, #cdced5);*/
    text-decoration: none;
    font-weight: bold;
    font-size: 1.0em;
    color: black;
    background-color: #e4e5ed;
    padding: 12px 24px;
    border-radius: 4px;
    /**box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3), -2px -2px 8px rgba(255, 255, 255, 0.7);**/
    /*box-shadow:  5px 5px 10px #b6b7be,
    -5px -5px 10px #ffffff;*/
    /*box-shadow:  5px 5px 16px #c4c5cc,
    -5px -5px 16px #ffffff;*/
    box-shadow:  5px 5px 15px #cdced5,
    -5px -5px 15px #fbfcff;


}
.neumorphic-button:visited {
    text-decoration: none;

}
.banner {

    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    background-color: #e4e5ed !important; /* dark gray */
}

/*.neumorphic-card {
    background-color: #e4e5ed !important; !* white *!
    box-shadow:  2px 2px 8px rgba(0, 0, 0, 0.4),  -2px -2px 8px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transform: translateY(-5px);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}*/
.neumorphic-card {
    border-radius: 27px;
    background: #e4e5ed !important;
    box-shadow: 5px 5px 16px #c4c5cc,
    -5px -5px 16px #ffffff;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    transform: translateY(-5px);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

select {
    background-color: #e4e5ed; /* white */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4), -2px -2px 8px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 5px;
    font-size: 1em;
}

select option {
    background-color: #e4e5ed; /* white */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4), -2px -2px 8px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 5px;
    font-size: 1em;
    background-size: 20px 20px;

}
select:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), -3px -3px 10px rgba(255, 255, 255, 0.2);
}

.my-img {
    background-blend-mode: multiply;
    opacity: 0.85;
}

.card select {
    background-color: #e4e5ed;
}

.header {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4), -2px -2px 8px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: #333; /* the default text color of Bootstrap cards */
    background-color: #f7f7f7; /* the default background color of Bootstrap cards */
}




